.banner {
  @include centeredFlex();
  padding: 118px 0px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/banner_mobile@1x.jpg');
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/banner_mobile@2x.jpg');
  }

  @media (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/banner_table@1x.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/banner_table@2x.jpg');
    }
  }

  @media (min-width: 1200px) {
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/banner_desktop@1x.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/banner_desktop@2x.jpg');
    }
  }
}

.banner__title {
  font-size: 21px;
  line-height: 1.1;
  margin: 0 auto;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: $bc-color;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (min-width: 480px) {
    font-size: 26px;
    line-height: calc(42 / 26);
  }
  @media (max-width: 1199px) {
    max-width: 360px;
  }
  @media (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.banner__but {
  min-width: 200px;
  @media (min-width: 1199px) {
    min-width: 216px;
  }
  @include buttuns();

  &:hover,
  &:focus {
    background-color: $focus-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
