.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
  @media (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  @media (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  height: 100%;
  width: 100%;
  @include centeredFlex();
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition: border-color $animation;

  &:hover {
    border-color: $focus-color;
  }
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: $icon-color;
  transition: fill $animation;

  .clients__link:hover & {
    fill: $focus-color;
  }
}
