.modal {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  @include centeredFlex();
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $animation;
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal.is-hidden .modal__box {
  transform: scale(0.3);
}

.modal__box {
  position: relative;

  background-color: $bc-color;
  border-radius: 4px;
  transform: scale(1);
  transition: transform $animation;
  padding: 40px;
  @media (max-width: 1199px) {
    max-width: 450px;
  }

  @media (min-width: 1200px) {
    width: 528px;
  }
}

.modal__btn {
  cursor: pointer;
  position: absolute;
  @include centeredFlex();
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: $bc-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
}

.module__btn--icon {
  width: 18px;
  height: 18px;
  fill: $main-color;
  transition: fill $animation;
}

.modal__btn:hover .module__btn--icon {
  fill: $focus-color;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 12px;

  @media (min-width: 1200px) {
    line-height: calc(23 / 20);
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: $additional-color;
  margin-bottom: 4px;
}

.form__input {
  outline: none;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 40px;
  transition: border-color $animation;

  &:focus {
    border-color: $focus-color;
  }
}

.form__input--icon {
  z-index: 2;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 28px;
  left: 12px;
  transition: fill $animation;
}
.form__input:focus ~ .form__input--icon {
  fill: $focus-color;
}

.form__textarea {
  outline: none;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color $animation;

  &:focus {
    border-color: $focus-color;
  }
  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__policy {
  line-height: calc(24 / 14);
  color: $additional-color;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @include centeredFlex(flex, null, center);

  @media (max-width: 1199px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.form__checkbox--original {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox {
  @include centeredFlex();
  width: 16px;
  height: 15px;
  border: 2px solid $main-color;
  border-radius: 2px;
  margin: 0 9px;
  transition: background-color $animation, border-color $animation;
}

.form__checkbox--original:checked ~ .form__checkbox {
  background-color: $focus-color;
  border-color: $focus-color;
}

.form__checkbox--icon {
  z-index: 3;
  width: 16px;
  height: 16px;
  fill: transparent;
  transition: fill $animation;
}

.form__checkbox--original:checked ~ .form__checkbox .form__checkbox--icon {
  fill: $bc-color;
}

.form__policy--link {
  color: $focus-color;
  text-decoration: underline;
  margin-left: 2px;
  @media (min-width: 1199px) {
    margin-left: 7px;
  }
}

.form__btn {
  width: 200px;
  @include buttuns();
  margin: 0 auto;
}

.form__btn:hover,
.form__btn:focus {
  background-color: $focus-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
