.staff {
  background: #f5f4fa;
}

.staff__title {
}

.users {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.user {
  background-color: $bc-color;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.user__img {
  width: 100%;
}

.user__desc {
  padding: 30px 0;
  text-align: center;
}

.user__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.user__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: $additional-color;
  margin-bottom: 16px;
}

.user__socials {
  @include centeredFlex(flex, center, null);
}

.user__soc:not(:last-child) {
  margin-right: 10px;
}

.user__soc--link {
  @include centeredFlex();
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color $animation;

  &:hover {
    background-color: $focus-color;
  }
}

.user__soc--icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;
  transition: fill $animation;

  .user__soc--link:hover & {
    fill: $bc-color;
  }
}
